/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Damion|Lovers+Quarrel');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.btn-home {
  background-color: rgba(255, 238, 212, 0.8);
  border-radius: 5px;
  a {
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
}


.btn-home:hover {
   background-color: rgba(255, 202, 122, 0.7);
}

.logo>h1 {
  font-family: 'Damion', cursive;
  font-size: 8em;
}

.promotion {
font-family: 'Josefin Sans', sans-serif;
padding-top: 40px;
padding-bottom: 40px;
}

.promotion p {
  font-size: 18px;
  padding-right: 30px;
  padding-left: 30px;
}

.icon-block>h3 {
  font-family: 'Josefin Sans', sans-serif;
}
