/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Damion|Lovers+Quarrel');


.btn-home {
  background-color: rgba(255, 223, 164, 0.8);
  border-radius: 5px;
  a {
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
}

.btn-home:hover {
   background-color: rgba(255, 206, 112, 0.7);
}

.logo > h1 {
  font-family: 'Damion', cursive;
  font-size: 8em;
}
