/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Damion|Lovers+Quarrel');

.btn-home {
  background-color: rgba(156, 254, 224, 0.8);
  border-radius: 5px;
  a {
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
}


.btn-home:hover {
   background-color: rgba(74, 255, 200, 0.7);
}

.logo>h1 {
  font-family: 'Damion', cursive;
  font-size: 8em;
}

