

.product-show {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.main {
  margin-top: 60px;
}
.details {
  margin-top: 130px;
}

.btn-product {
  margin-top: 20px;
}

#map {
  margin-bottom: 30px;
}

#price-text {
  font-weight: bold;
}

.product-card {
  margin: 20px;

}
