.avatar-profile {
  width: 200px;
}

.profile-element {
  padding: 15px 0;
}

.user-card {
  width: 900px;
  height: 300px;
  padding: 40px;
  margin: 40px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-card {
  margin: 0 auto;
}

.card-resa {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  padding: 15px;
}

.card-resa:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-resa {
  padding: 2px 16px;
}

.product-name {
  font-weight: bold;
  font-size: 18px;
}

.text-16px {
  font-size: 16px;
}

.container-profile-card {
  display: flex;
  justify-content: center;
}

.profile-name {
  padding-bottom: 44px;
  font-weight: strong;
}

.pink-text {
  color: rgb(186, 104, 200);

}

.review-form {
  display: flex;
  align-items: flex-end;
}
