<div class="banner" style="background-image: linear-gradient(-225deg, rgba(254,249,213,0.4) 0%, rgba(213,156,196,0.6) 50%), url('<%= image_path "home_background.jpg" %>');">
  <div class="banner-content">
    <div class="logo">
      <h1>Cosmeeter</h1>
    </div>
    <div class="tag-line">
      <p>Join community and Find a great selection of natural cosmetics <br/> created by real people</p>
    </div>
    <div class="waves-effect waves-light btn-large btn-home">
      <%= link_to "SEE WHAT'S NEW", to: products_path %>
    </div>
  </div>
</div>


