<div class="centerflipcards">
  <div class="square-flip">
    <div class='square' data-image=<%= cl_image_tag @product.photo.path, width: 600, height: 400, crop: :scale %>>
      <div class="square-container">
        <h2 class="textshadow"><%= product.name %></h2>
        <h3 class="textshadow"><%= product.description %></h3>
      </div>
      <div class="flip-overlay"></div>
    </div>
    <div class='square2' data-image=<%= cl_image_tag @product.photo.path, width: 600, height: 400, crop: :scale %>>
      <div class="square-container2">
        <div class="align-center"></div>
        <a href="http://kallyas.net" target="_blank" class="boxshadow kallyas-button">View Demos</a>
      </div>
      <div class="flip-overlay"></div>
    </div>
  </div>
</div>
