<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Disclaimer</h5>
        <p class="grey-text text-lighten-4">Cosmeeter is not responsible of any intoxication due to the use of any product sold on its platform, please contact your vendor if you encounter any issue.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Find us on:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Cosmeeter
      <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
