<section class="promotion">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block center-align">
          <h3 class="center brown-text">BUY</h3>
          <%= image_tag("buy.png", :alt => "cosmetic icon", :class => "icone-promotion") %>
          <h5 class="center">Exeptionnal products that feets your need</h5>

          <p class="light">This is just a line to see if you read the text. But since your are reading, i must say something smart but i've no idea what this website is about. do u?</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block center-align" >
          <h3 class="center brown-text">SELL</h3>
          <%= image_tag("sell.png", :alt => "cosmetic icon", :class => "icone-promotion") %>
          <h5 class="center">Your best clients are next the door</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block center-align">
          <h3 class="center brown-text">SHARE</h3>
          <%= image_tag("share.png", :alt => "cosmetic icon", :class => "icone-promotion") %>
          <h5 class="center">With an athousiast community</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>
  </div>
</section>
