<!-- banner  -->


<!-- with the tag line  -->


<h1>Pages#home</h1>

<div class="container">
  <h2 class="title">Cosmeeter</h2>
</div>

<!--  short list of products -->



<!--  How it work -->



<!--  Image comminuty -->


<!-- Section become a seller -->

