<!-- banner  -->


<!-- with the tag line  -->


<h1>Welcome to Cosmeeter</h1>

<h2 class="title">This is our homepage, it's under construction.</h2>


<!--  sort list of products -->



<!--  How it work -->



<!--  Image comminuty -->


<!-- Section become a seller -->

