/*
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background-color: #FFFEFA;
}

.wrapper {
  width: 320px;
  position: relative;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.product-img-size {
  height: 250px;
  width: 100%;
  background-position: center;
}

.product-img {
  position: relative;

  h3 {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}

.background-white{
  background-color: white;
}

.card-body{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-info {
  flex: 1;
}

.card-avatar{
  margin-right: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      -moz-box-shadow:    1px 1px 3px 0px grey;
      -webkit-box-shadow: 1px 1px 3px 0px grey;
      box-shadow:         1px 1px 3px 0px grey;
    }
}
.product-text h1 {
  font-size: 16px;
  font-weight: 400;
  color: #474747;

}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
  margin: 0;
}

.product-text h2 {
  font-size: 13px;
   font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
  margin:0;
}

.product-text p {
  font-family: 'Signika', sans-serif;
  color: #8d8d8d;
  line-height: 1.3em;
  font-size: 14px;
  font-weight: lighter;
}

.product-details{
  padding: 20px;
}

.filter_bar p{
  display: block;
  float: left;
  align: auto 0;
  font-size: 18px;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;

}

#price-text{
  background-color: rgba( 255, 255, 255, 0.7);
  font-size: 25px;
  position: absolute;
  right:10px;
  top:10px;
  margin:0;
  color: rgba(0,0,0, 0.7);
  font-family: 'Signika', sans-serif;
  font-weight: 500;

}

.product-text {
  height: 520px;
}


.product-btn{
  border: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding: 10px;
  background-color: #FFCE70;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.3s ease-out;
  & a {
    color: white;
  }
  &:hover {
    background-color: rgba(255, 167, 0, 0.8);
    transition: 1s, ease-in-out;
  }
}

.spacing-card {
  margin-bottom: 60px;
  width: 100%;
}
