.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 30px;
  margin-top: 6px;
  margin-right: 6px;
  margin-left: 6px;
}

nav {
  background-color: #FFE3D1;
}
