.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 30px;
  margin-top: 7px;
  margin-right: 6px;
  margin-left: 8px;
}

nav {
  background-color: rgba(238, 115, 255, 0.3);
  height: 70px;
  position: absolute;
  top: 0;
}

nav ul a {
    color: rgba(0,0,0, 0.5);
    padding: 3px 50px 3px 50px;
}
nav ul li:hover{
  background-color: rgba(216, 154, 225, 0.8);
  a {
    color: rgba(255, 255, 255, 0.9);
  }
}


.login {
background-color: rgba(216, 154, 225, 0.8);
}

nav .brand-logo {
  color: rgba(255,255,255, 0.9);
  padding-top: 3px;
  padding-left: 60px;
}

#dropdown1 {
  position: absolute !important;
  top: 64px !important;
  left: 1546px!important;
}

.dropdown-content li > a, .dropdown-content li > span {
  padding: 14px 7px;
}

