.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 30px;
  margin-top: 14px;
  margin-right: 6px;
  margin-left: 12px;
}

nav {
  background-color: #FFE3D1;
}

#dropdown1 {
  position: absolute !important;
  top: 64px !important;
  left: 1546px!important;
}

.dropdown-content li > a, .dropdown-content li > span {
  padding: 14px 7px;
}

