<section id="products-index">
  <div class="row ">
    <div class="col s12 m6 l6">
      <div class="row products-list ">
            <div class="filter_bar">
            </div>
      </div>
      <div class="products-grid">
        <% @products.each do |product| %>
          <div class=" col s12 m12 l6">
            <%= render 'shared/card-product', locals: {:product => product} %>
          </div>
          <% end %>
      </div>
    </div>
    <div class="col l6 m6 s12 map ">
        <div id="map"></div>
    </div>
  </div>
</section>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>

