<section id="products-index">
    <div class="row filter_bar">
      <div class="col s3">

      </div>
      <div class="col s3">

      </div>
      <div class="col s3">

      </div>
    </div>
    <div class="row product-list">
      <div class="col s12 m8 l8 products-grid">
        <% @products.each do |product| %>
        <div class=" col s3">
          <%= render 'shared/card-product' %>
        </div>
        <% end %>
      </div>
      <div class="col m4 l4 product-list">
        <div id="map" style="width: 100%; height: 600px;"></div>
      </div>
    </div>
</section>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>

