<section id="products-index">
    <div class="row">
      <div class="col s3">

      </div>
    </div>
    <div class="row">
      <div class="col s9">
        <% @products.each do |product| %>
        <div class=" col s3 fake-card">
          <%= render 'shared/card-product' %>
        </div>
        <% end %>
      </div>
      <div class="col s6">
        map
      </div>
    </div>
</section>
