<section id="products-index">
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-product">

            <div class="card-product-header">
              <div class="avatar">
                <!-- avatar utilisateur  -->
              </div>
              <div class="card-user-info">
                <!--
                <h4> ##product.user.#####</h4>
                -->
              </div>
            </div>

            <div class="card-product-body">
              <div class="card-product-image">
                <!--  A mettre en backgroud -->
                <% if product.photo? %>
                <%= cl_image_tag product.photo.path, width: 500, height: 300, crop: :scale %>
                <% end %>
              </div>
            </div>

            <div class="card-product-footer">
              <span class="card-title"><%= product.name %></span>
              <p><%= product.description %></p>
              <div class="card-action">
                <%= link_to "See more", product %>
              </div>
            </div>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
